:root {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin: auto;
}

header {
    background-image: radial-gradient(ellipse, rgb(18, 68, 207), white);
    color: white;
    font-size: 35px;
    margin: 10px;
    text-shadow: 10px, black;
    text-align: center;
}

h1 {
    font-size: 25px;
}

h2 {
    font-size: 25px;
    margin-top: 20px; 
}

input {
    margin-top: 20px;
}

#search-btn {
    margin-top: 20px;
    margin-bottom: 20px;
}

.jumbotron {
    padding-top: 12px;
    padding-bottom: 12px;
}

.border {
    padding-left: 10px;
    padding-right: 150px;
}

